body {
  font-family: 'Finger Paint', sans-serif;
  font-size: 25px;
  background-color: #639696;
}

h1 {
  font-size: 100%;
  flex: 1 100%;
  text-align: center;
  margin: 0 0 10px;
  color: #9C5B8A;
}

#weather-widget {
  display: flex;
  flex-flow: row wrap;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 25px;
  background-color: #c5e7e8;
  padding: 20px 10px;
  line-height: 20%;
}

.weather-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2 auto;
  text-align: center;
  margin: auto 16px;
}

img {
  vertical-align: middle;
}
